@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

.header{
    margin: 21px;
}

.products {
    Width: 108px;
    height: 20px;
    top: 47px;
    left: 42px;
    margin: 21px;
    cursor: pointer;
}

.company {
    margin: 21px;
    cursor: pointer;
}

.blog {
    margin: 20px;
    cursor: pointer;
}

.login {
    margin-right: 20px;
    cursor: pointer;
}

.imagem {
    margin-right: 50px;
    width: 500px;
    height: 500px;
    display: inline-block;
}

section {
    display: inline-block;
    margin: 20px;
}

p {
    width: 500px;
    margin-bottom: 40px;
}

button {
    Width: 124px;
    Height: 51px;
    Top: 32px;
    Left: 420px;
    border-radius: 10px;
    background: #6FBF44;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

h1{
    margin-bottom: 10px;
    width: 500px;
    top: 342px;
    left: 801px;
    font-size: 62px;
    
}

.learn{
 
    color: #6FBF44;
    cursor: pointer;
    width: 112px;
}